.friend-form {
    background-color: whitesmoke;
    display:list-item;
    text-align:left;
}

.friend-updateform {
    background-color: white;
    display:list-item;
    text-align:left;
}

.friends-body {
    text-align:left;
    background-color: whitesmoke;
    display:list-item;
    overflow-y: scroll;
    height: 100vh;
    padding-left: 160px;
    list-style: none;
}

.friend-button{
    float: right;
}

.location-input {
    width: 30%;
}

.friend-input {
    width: 30%;
}

.box {
    border: 1px solid rgba(134, 90, 228, 0.645);
    background-color: white;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    padding:10px;
}


