.friend-form {
    background-color: whitesmoke;
    display:list-item;
    text-align:left;
}

.friends-body {
    text-align:left;
    background-color: whitesmoke;
    display:list-item;
    overflow-y: auto;
    padding-left: 160px;
    list-style: none;
}

.friend-button{
    float: right;
}

.location-input {
    width: 30%;
}

.friend-input {
    width: 30%;
}

.box {
    border: 1px solid black;
    background-color: white;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
}


